:root {
    --color-background-dark: #003366;
    --color-background-light: #ff9900;
    --color-font-light: #ff9900;
    --color-font-extra-light: #fffc00;
    --color-font-dark: #003366;
    --color-border-blue-dark: #0f0f3de7;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}
.header {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background-dark);
    color: var(--color-font-light);
}
.header h4,
.header .botoes,
.header .aqueles-negocinhos-ai-embaixo {
    margin: 10px;
}
.logo {
    width: 400px;
    height: 200px;
}
.header h1 {
    align-items: center;
    padding: 30px;
}

form {
    justify-content: space-between;
    box-sizing: border-box;
}
.botoes input {
    padding: 10px 15px;
    border-radius: 2px;
    text-decoration: none;
    border: none;
    justify-content: space-between;
}
.botoes button {
    padding: 10px 15px;
    border-radius: 2px;
    text-decoration: none;
    border: none;
    background-color: var(--color-font-extra-light);
}

.features {
    height: 450px;
    background-color: var(--color-background-light);
    color: var(--color-font-dark);
    border: 1px solid #fffc00;
    display: grid;
    justify-content: center;
    padding: 50px 10px;
}
.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-feature-upper,
.card-feature-below {
    display: flex;
    gap: 50px;
}
.card-feature-upper div,
.card-feature-below div {
    display: flex;
    gap: 16px;
    max-width: 250px;
    align-items: center;
}

.features span,
.features img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.imagens-features {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 1px solid var(--color-font-extra-light);
}
