:root {
    --color-background-dark: #003366;
    --color-background-light: #ff9900;
    --color-font-light: #ff9900;
    --color-font-extra-light: #fffc00;
    --color-font-dark: #003366;
    --color-border-blue-dark: #0f0f3de7;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}
.header {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background-dark);
    color: var(--color-font-light);
}
.header h4,
.header .botoes,
.header .aqueles-negocinhos-ai-embaixo {
    margin: 10px;
}
.logo {
    width: 400px;
    height: 200px;
}
.header h1 {
    align-items: center;
    padding: 30px;
}

form {
    justify-content: space-between;
    box-sizing: border-box;
}
.botoes input {
    padding: 10px 15px;
    border-radius: 2px;
    text-decoration: none;
    border: none;
    justify-content: space-between;
}
.botoes button {
    padding: 10px 15px;
    border-radius: 2px;
    text-decoration: none;
    border: none;
    background-color: var(--color-font-extra-light);
}

.features {
    height: 450px;
    background-color: var(--color-background-light);
    color: var(--color-font-dark);
    border: 1px solid #fffc00;
    display: grid;
    justify-content: center;
    padding: 50px 10px;
}
.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-feature-upper,
.card-feature-below {
    display: flex;
    gap: 50px;
}
.card-feature-upper div,
.card-feature-below div {
    display: flex;
    gap: 16px;
    max-width: 250px;
    align-items: center;
}

.features span,
.features img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.imagens-features {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 1px solid var(--color-font-extra-light);
}

.about-us {
    background-color: var(--color-background-dark);
    color: var(--color-font-light);
    height: 450px;
    display: flex;
    margin: auto;
}

.about-us img {
    width: 500px;
    height: 300px;
    margin: auto 150px auto auto;
}

.about-us .text {
    display: flex;
    margin: auto;
    width: 50%;
    justify-items: center;
    align-items: center;
    gap: 32px;
    flex-direction: column;
}
.how-it-works {
    height: 450px;
    background-color: var(--color-background-light);
    display: flex;
    flex-direction: row;
    color: var(--color-font-dark);
    height: 450px;
    margin: auto;
}

.how-it-works .text {
    display: flex;
    margin: auto;
    width: 50%;
    justify-items: center;
    align-items: center;
    gap: 32px;
    flex-direction: column;
}
.how-it-works .video {
    margin: 75px 8.15px 150px 75px;
}

.user-review {
    height: 350px;
    background-color: var(--color-background-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-review .text {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-top: 64px;
    color: var(--color-font-light);
}
.user-photos {
    margin: 50px;
    width: 50%;
    border-top: 1px solid white;
    display: flex;
    gap: 10px;
}
.user-photos img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
}

.contact-us {
    height: 450px;
    background-color: var(--color-background-light);
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.contact-us .text {
    color: var(--color-font-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer {
    background-color: var(--color-background-dark);
    color: var(--color-font-light);
    display: flex;
    justify-content: space-between;
}
footer img {
    width: 50px;
    height: 25px;
    border-radius: 10px;
}
