:root {
    --color-background-dark: #003366;
    --color-background-light: #ff9900;
    --color-font-light: #ff9900;
    --color-font-extra-light: #ffff00;
    --color-font-dark: #003366;
    --color-border-blue-dark: #0f0f3de7;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}
/* partes que são display flex */
.aqueles-negocinhos-ai-embaixo,
.features,
.about-us,
.how-it-works,
.user-review,
.contact-us {
    display: flex;
}

/* Fundo azul */
.header,
.about-us,
.user-review,
footer {
    background-color: var(--color-background-dark);
    color: var(--color-font-light);
}

/* Fundo amarelo */
.features,
.contact-us,
.how-it-works {
    background-color: var(--color-background-light);
    color: var(--color-font-dark);
}

/* Partes com borda */
.about-us,
.user-review,
footer {
    border: 1px solid var(--color-border-blue-dark);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}
.header h1,
.header h4,
.header .botoes,
.header .aqueles-negocinhos-ai-embaixo {
    margin: 10px;
}
.header h1 {
    align-items: center;
}
